{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event List{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        <p>Event List</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a>Event List</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Nume Pacient</th>
                                            <th>Data Intervenției</th>
                                            <th>Tip Operatie</th>
                                        
                                            {% if show_pending_fields %}
                                                <th>Timp Estimat</th>
                                                <th>Constrângeri Speciale</th>
                                                <th>Observații</th>
                                                <th>Status</th> <!-- Nouă coloană pentru status -->

                                            {% endif %}
                                        
                                            {% if show_approved_fields %}
                                                <th>Constrângeri Speciale</th>
                                                <th>Observații</th>
                                                <th>Sală</th>
                                                <th>Ora început</th>
                                                <th>Ora sfârșit</th>
                                                <th>Durată</th>
                                                <th>Asistentă</th>
                                                <th>Status</th> <!-- Nouă coloană pentru status -->

                                            {% endif %}
                                        
                                            {% if show_all_fields %}
                                                <th>Constrângeri Speciale</th>
                                                <th>Observații</th>
                                                <th>Status</th> <!-- Nouă coloană pentru status -->
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        
                                    <tbody>
                                        {% for event in object_list %}
                                            <tr role="row" class="odd">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ event.nume_pacient }}</td>  <!-- Afișează numele pacientului -->
                                                <td>{{ event.data_interventie|date:"j F Y" }}</td>
                                                <td>{{ event.tip_operatie }}</td>


                                                {% if show_pending_fields %}
                                                    <td>{{ event.timp_estimare }}</td>
                                                    <td>{{ event.constrangeri_speciale }}</td>
                                                    <td>{{ event.observatii }}</td>
                                                    <td>{{ event.get_status_display }}</td>

                                                {% endif %}

                                                {% if show_approved_fields %}
                                                    <td>{{ event.constrangeri_speciale }}</td>
                                                    <td>{{ event.observatii }}</td>
                                                    <td>{{ event.sala_alocata }}</td>
                                                    <td>{{ event.ora_inceput|time:"H:i" }}</td>
                                                    <td>{{ event.ora_sfarsit|time:"H:i" }}</td>
                                                    <td>{{ event.durata }} min</td>
                                                    <td>
                                                    {% if event.asistenta_alocata %}
                                                        {{ event.asistenta_alocata.first_name }} {{ event.asistenta_alocata.last_name }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                    </td>
                                                    <td>{{ event.get_status_display }}</td>

                                                {% endif %}

                                                {% if show_all_fields %}
                                                    <td>{{ event.constrangeri_speciale }}</td>
                                                    <td>{{ event.observatii }}</td>
                                                    <td>{{ event.get_status_display }}</td>
                                                {% endif %}

                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="4">Nu există evenimente înregistrate.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
